.events__container {
  width: 1700px;
}

.events__h2 {
  margin-bottom: 26px;
}

.events__container .events__list {
  flex-direction: row;
}

.events__list {
  margin-bottom: 67px;
}

.events__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #cacaca;
  border-top: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 300px;
}

.events__item_engraving {
  background-image: url("../img/events__image_one.jpg");
}

.events__item_discussion {
  background-image: url("../img/events__image_two.jpg");
}

.events__item_formation {
  background-image: url("../img/events__image_three.jpg");
}

.events__item_formation {
  background-image: url("../img/events__image_three.jpg");
}

.events__item_art {
  background-image: url("../img/events__image_four.jpg");
}

.events__item_silver {
  background-image: url("../img/events__image_five.jpg");
}

.events__item::before {
  top: 300px;
  position: absolute;
  content: "";
  width: 498px;
  /* height: 402px; */
  width: fit-content;
  border-top: none;
}

.events__item:not(:last-child) {
  margin-right: 50px;
}

/* .events__item:focus-within {
  outline: 1px solid #9d5cd0;
} */

.events__content {
  display: flex;
  flex-direction: column;
  margin: 316px 0 50px 48px;
  max-width: 400px;
  min-height: 342px;
  z-index: 10;
}

.events__location {
  margin-right: auto;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #999;
}

.events__place {
  margin-right: auto;
  margin-bottom: 4px;
}

.events__time {
  margin-right: auto;
}

.events__h3 {
  margin-bottom: 5px;
  line-height: 34px;
}

.events__p {
  flex-grow: 1;
  margin-bottom: 73px;
  max-width: 400px;
  /* line-height: 32px; */
}

.events__link {
  padding-bottom: 6px;
  width: fit-content;
  max-width: 240px;
  z-index: 10;
  color: #9d5cd0;
  border-bottom: 1px solid #9d5cd0;
}

.events__link:hover {
  color: #7943a4;
  border-color: #7943a4;
  transition: color 0.3s ease, border-color 0.3s ease,
    background-color 0.3s ease;
}

.events__link:focus {
  padding-bottom: 0;
  color: #fff;
  border-color: #fff;
  border-bottom: none;
  outline: none;
  background-color: #9d5cd0;
}

.events__link:active {
  color: #d1a9f0;
  border-color: #d1a9f0;
  background-color: transparent;
}

.events__btn {
  margin: 0 auto;
  padding: 17px 35px;
  display: block;
  max-width: 250px;
  color: #9d5cd0;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
}

.events__btn:hover {
  color: #d1a9f0;
  border-color: #d1a9f0;
  cursor: pointer;
  transition: color 0.3s ease, border-color 0.3s ease, outline 0.3s ease,
    outline-offset 0.3s ease;
}

.events__btn:focus {
  outline: 2px solid #9d5cd0;
  outline-offset: 5px;
}

.events__btn:active {
  color: #7943a4;
  border-color: #7943a4;
  outline: none;
}

.events-button-prev,
.events-button-next {
  width: 50px;
  height: 50px;
  background-color: #ececec;
  border-radius: 50%;
}

.events-button-prev {
  left: 25px;
}

.events-button-next {
  right: 25px;
}

.events-button-prev::after {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.33334 0.666663L9.66667 9L1.33334 17.3333' stroke='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotate(180deg);
}

.events-button-next::after {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.33334 0.666663L9.66667 9L1.33334 17.3333' stroke='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

@media (max-width: 1700px) {
  .events__container {
    max-width: 1685px;
  }

  .events__item {
    background-position: top left;
  }
}

@media (max-width: 1675px) {
  .events__container {
    max-width: 1665px;
  }
}

@media (max-width: 1650px) {
  .events__container {
    max-width: 1650px;
  }
}

@media (max-width: 1625px) {
  .events__container {
    max-width: 1630px;
  }
}

@media (max-width: 1600px) {
  .events__container {
    max-width: 1590px;
  }
}

@media (max-width: 1575px) {
  .events__container {
    max-width: 1560px;
  }
}

@media (max-width: 1550px) {
  .events__container {
    max-width: 1545px;
  }
}

@media (max-width: 1525px) {
  .events__container {
    max-width: 1525px;
  }
}

@media (max-width: 1500px) {
  .events__container {
    max-width: 1505px;
  }
}

@media (max-width: 1475px) {
  .events__container {
    max-width: 1475px;
  }
}

@media (max-width: 1450px) {
  .events__container {
    max-width: 1475px;
  }
}

@media (max-width: 1425px) {
  .events__container {
    max-width: 1430px;
  }

  .events__content {
    min-height: 372px;
  }

  .events__p {
    max-width: 310px;
  }
}

@media (max-width: 1400px) {
  .events__container {
    max-width: 1400px;
  }

  .events__content {
    min-height: 405px;
  }
}

@media (max-width: 1375px) {
  .events__container {
    max-width: 1340px;
  }

  .events__h3 {
    max-width: 300px;
  }
}

@media (max-width: 1350px) {
  .events__container {
    max-width: 1360px;
  }
}

@media (max-width: 1325px) {
  .events__container {
    max-width: 1310px;
  }
}

@media (max-width: 1300px) {
  .events__container {
    max-width: 1280px;
  }
}

@media (max-width: 1275px) {
  .events__container {
    max-width: 1280px;
  }
}

@media (max-width: 1250px) {
  .events__container {
    max-width: 1235px;
  }
}

@media (max-width: 1225px) {
  .events__container {
    max-width: 1210px;
  }
}

@media (max-width: 1200px) {
  .events__container {
    max-width: 1195px;
  }

  .events__content {
    min-height: 437px;
  }

  .events__p {
    max-width: 255px;
  }
}

@media (max-width: 1175px) {
  .events__container {
    max-width: 1160px;
  }

  .events__content {
    margin: 316px 0 50px 35px;
  }
}

@media (max-width: 1150px) {
  .events__container {
    max-width: 1135px;
  }
}

@media (max-width: 1125px) {
  .events__container {
    max-width: 1105px;
  }

  .events__item_discussion {
    background-position: top center;
  }
}

@media (max-width: 1100px) {
  .events__container {
    max-width: 1080px;
  }

  .events__content {
    min-height: 471px;
  }

  .events__p {
    max-width: 240px;
  }
}

@media (max-width: 1075px) {
  .events__container {
    max-width: 1055px;
  }
}

@media (max-width: 1050px) {
  .events__container {
    max-width: 1055px;
  }
}
