.header {
  font-size: 18px;
  color: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top {
  padding: 30px 0;
  background-color: #000;
}

.header__nav {
  display: flex;
  align-items: center;
  margin-right: 100px;
  max-width: 71%;
}

.header__list {
  flex-wrap: wrap;
}

.header__item:not(:last-child) {
  margin-right: 51px;
  font-weight: 600;
}

.header__link {
  padding: 0px 6px 2px 6px;
}

.header__link:hover {
  color: #c283f3;
  transition: color 0.3s ease;
}

.header__link:focus,
.header__bottom-button:focus {
  background-color: #7943a4;
  outline: 5px solid #7943a4;
  outline-offset: -1px;
  transition: background-color 0.3s ease, outline 0.3s ease;
}

.header__link:active {
  background-color: transparent;
  color: #7943a4;
}

.header__enter {
  display: flex;
  align-items: center;
  padding-left: 20px;
  line-height: 1;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.12056 9.09278L6.13889 10.1111L9.75 6.5L6.13889 2.88889L5.12056 3.90722L6.98389 5.77778H0V7.22222H6.98389L5.12056 9.09278ZM11.5556 0H1.44444C0.642778 0 0 0.65 0 1.44444V4.33333H1.44444V1.44444H11.5556V11.5556H1.44444V8.66667H0V11.5556C0 12.35 0.642778 13 1.44444 13H11.5556C12.35 13 13 12.35 13 11.5556V1.44444C13 0.65 12.35 0 11.5556 0Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 0px center;
}

.header__enter:hover {
  color: #c283f3;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.12056 9.09278L6.13889 10.1111L9.75 6.5L6.13889 2.88889L5.12056 3.90722L6.98389 5.77778H0V7.22222H6.98389L5.12056 9.09278ZM11.5556 0H1.44444C0.642778 0 0 0.65 0 1.44444V4.33333H1.44444V1.44444H11.5556V11.5556H1.44444V8.66667H0V11.5556C0 12.35 0.642778 13 1.44444 13H11.5556C12.35 13 13 12.35 13 11.5556V1.44444C13 0.65 12.35 0 11.5556 0Z' fill='%23c283f3'/%3E%3C/svg%3E ");
  transition: color 0.3s ease, background-image 0.3s ease;
}

.header__enter:focus {
  background-color: #7943a4;
  outline: 7px solid #7943a4;
  outline-offset: -1px;
  transition: background-color 0.3s ease, outline 0.3s ease;
}

.header__enter:active {
  color: #9d5cd0;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.12056 9.09278L6.13889 10.1111L9.75 6.5L6.13889 2.88889L5.12056 3.90722L6.98389 5.77778H0V7.22222H6.98389L5.12056 9.09278ZM11.5556 0H1.44444C0.642778 0 0 0.65 0 1.44444V4.33333H1.44444V1.44444H11.5556V11.5556H1.44444V8.66667H0V11.5556C0 12.35 0.642778 13 1.44444 13H11.5556C12.35 13 13 12.35 13 11.5556V1.44444C13 0.65 12.35 0 11.5556 0Z' fill='%239d5cd0'/%3E%3C/svg%3E ");
}

.header__bottom {
  width: 100%;
  position: absolute;
  padding: 19px 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__bottom-container {
  display: flex;
  justify-content: space-between;
}

.header__bottom-list {
  flex-wrap: wrap;
}

.header__bottom-item:not(:last-child) {
  margin-right: 93px;
}

.header__form {
  display: flex;
  align-items: center;
}

.header__button {
  margin-right: 5px;
  padding: 0;
  width: 22px;
  height: 22px;
  color: transparent;
  border: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: 22px 22px;
}

.header__button:hover {
  cursor: pointer;
}

.header__button:focus-visible {
  outline-color: #7943a4;
}

.header__input {
  font-size: 19px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
}

.header__input::placeholder {
  color: #fff;
}

.header__input:hover {
  border-color: #c283f3;
  transition: border-color 0.3s ease;
}

.header__input:focus {
  border-color: #7943a4;
  transition: border-color 0.3s ease, outline 0.3s ease;
}

.header__bottom-button {
  height: 100%;
  display: flex;
  padding: 0;
  margin-right: 4px;
  padding-right: 4px;
  align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.header__bottom-button:hover {
  color: #9d5cd0;
}

.header__bottom-button::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid;
  border-right: 1px solid;
  margin-left: 5px;
  margin-top: -3px;
  transform: rotate(135deg);
  transition: transform 0.5s ease, outline 0.3s ease;
  transform-origin: cente;
}

/* .header__bottom__button.is__active {
  color: #7943a4;
} */

.header__bottom-button.is__active::after {
  transform: rotate(-45deg) translateY(4px);
}

.header__bottom-button:active {
  color: #7943a4;
}

.header__dropdown {
  display: none;
  padding: 30px 20px 20px 30px;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__drop-list {
  flex-direction: column;
}

.header__dropdown-wrap {
  width: 240px;
  max-height: 255px;
}

.header__dropdown.is__active {
  position: absolute;
  top: 65px;
}

.header__dropdown > ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.header__dropdown.is__active {
  display: block;
  animation-name: dropdownOpen;
  animation-duration: 0.4s;
}

.header__dropdown.is__disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: 0.4s;
}

.header__drop__list {
  flex-direction: column;
}

.header__dropdown-item {
  margin-left: 10px;
  width: 220px;
}

.header__dropdown-item:first-child {
  margin-top: 12px;
  width: 220px;
}

.header__dropdown-item {
  margin-bottom: 20px;
}

.header__bottom-link {
  display: block;
  padding: 12px 14px;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  background-image: url("../img/tintoretto.jpg");
  background-position: 0 0;
  transition: outline 0.3s ease, background 0.3s ease;
}

.header__bottom-link:hover {
  outline: 2px solid #9d5cd0;
}

.header__bottom-link:active {
  outline: 2px solid #9d5cd0;
  background: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/tintoretto.jpg");
}

.header__bottom-link_fridrih {
  background-image: url("../img/fridrich.jpg");
}

.header__bottom-link_fridrih:active {
  background: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/fridrich.jpg");
}

.header__bottom-link_leo {
  background-image: url("../img/leo.jpg");
}

.header__bottom-link_leo:active {
  background: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/leo.jpg");
}

.header__bottom-link_verokko {
  background-image: url("../img/leo.jpg");
}

.header__bottom-link_verokko:active {
  background: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/leo.jpg");
}

.header__bottom-link_verokko {
  background-image: url("../img/verokko.jpg");
}

.header__bottom-link_verokko:active {
  background: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/verokko.jpg");
}

.header__bottom-link_mone {
  background-image: url("../img/mone.jpg");
}

.header__bottom-link_mone:active {
  background: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/mone.jpg");
}

.header__bottom-link_sislei {
  background-image: url("../img/sislei.jpg");
}

.header__bottom-link_sislei:active {
  background: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/sislei.jpg");
}

.header__bottom-link_mane {
  background-image: url("../img/mane.jpg");
}

.header__bottom-link_mane:active {
  background: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/mane.jpg");
}

.header__bottom-link_renuar {
  background-image: url("../img/renuar.jpg");
}

.header__bottom-link_renuar:active {
  background: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/renuar.jpg");
}

.header__bottom-link_van-gog {
  background-image: url("../img/van-gog.jpg");
}

.header__bottom-link_van-gog:active {
  background: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/van-gog.jpg");
}

.header__bottom-link_sezann {
  background-image: url("../img/sezann.jpg");
}

.header__bottom-link_sezann:active {
  background: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/sezann.jpg");
}

.header__bottom-link_gogen {
  background-image: url("../img/gogen.jpg");
}

.header__bottom-link_gogen:active {
  background: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/gogen.jpg");
}

.header__bottom-link_sera {
  background-image: url("../img/sera.jpg");
}

.header__bottom-link_sera:active {
  background: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/sera.jpg");
}

.header__bottom-link_kandinski {
  background-image: url("../img/kandinski.jpg");
}

.header__bottom-link_kandinski:active {
  background: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/kandinski.jpg");
}

.header__bottom-link_marinetti {
  background-image: url("../img/marinetti.jpg");
}

.header__bottom-link_marinetti:active {
  background: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/marinetti.jpg");
}

.header__bottom-link_malevich {
  background-image: url("../img/malevich.jpg");
}

.header__bottom-link_malevich:active {
  background: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/malevich.jpg");
}

.header__bottom-link_pikasso {
  background-image: url("../img/pikasso.jpg");
}

.header__bottom-link_pikasso:active {
  background: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/pikasso.jpg");
}

.header__bottom-link_karra {
  background-image: url("../img/karra.jpg");
}

.header__bottom-link_karra:active {
  background: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/karra.jpg");
}

.header__bottom-link_pratella {
  background-image: url("../img/pratella.jpg");
}

.header__bottom-link_pratella:active {
  background: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/pratella.jpg");
}

.header__bottom-link_severini {
  background-image: url("../img/severini.jpg");
}

.header__bottom-link_severini:active {
  background: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/severini.jpg");
}

.header__bottom-link_balla {
  background-image: url("../img/balla.jpg");
}

.header__bottom-link_balla:active {
  background: linear-gradient(
      0deg,
      rgba(194, 131, 243, 0.4),
      rgba(194, 131, 243, 0.4)
    ),
    url("../img/balla.jpg");
}

.header__dropdown .simplebar-track.simplebar-vertical {
  right: -2px;
  width: 2px;
  background-color: #000;
}

.header__dropdown
  .simplebar-track.simplebar-vertical
  .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 1;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 1410px) {
  .header__nav {
    margin-right: 0px;
  }

  .header__item:not(:last-child) {
    margin-right: 33px;
    font-weight: 600;
  }

  .header__bottom-item:not(:last-child) {
    margin-right: 36px;
  }
}

@media (max-width: 1200px) {
  .header__item:not(:last-child) {
    margin-right: 8px;
    font-weight: 600;
  }

  .header__bottom-item:not(:last-child) {
    margin-right: 13px;
  }
}

@media (max-width: 1110px) {
  .header__bottom-item:not(:last-child) {
    margin-right: -6px;
  }
}
