.hero {
  padding-top: 142px;
  padding-bottom: 122px;
  color: #fff;
}

.hero__h1 {
  max-width: 570px;
  font-size: 72px;
  font-weight: 700;
  line-height: 80px;
}

.hero__p {
  margin-top: 20px;
  max-width: 555px;
  font-size: 18px;
  font-weight: 600;
  line-height: 31px;
}

.hero__btn {
  display: block;
  margin-top: 90px;
  padding: 26px 35px;
  max-width: 315px;
  background-color: #9d5cd0;
  border-radius: 100px;
}

.hero__btn:hover {
  padding: 23px 32px;
  border: 3px solid #d1a9f0;
  transition: border 0.3s ease, border 0.3s ease, background-color 0.3s ease;
}

.hero__btn:active {
  background-color: #7943a4;
}

.hero__background {
  position: absolute;
  top: 100px;
  display: block;
  width: 100%;
  height: 110%;
  z-index: -1;
  background-color: #7b3f00; 
  background-image: url("../img/hero__background.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: anim;
  animation-duration: 5s;
  animation-iteration-count: infinite; 
}

@keyframes anim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}