 @font-face {
  font-family: "open-sans";
  src: url("../fonts/open-sans.woff2") format("woff2"),
    url("../fonts/open-sans.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "open-sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "open-sans";
  src: url("../fonts/open-sans-Bold.woff2") format("woff2"),
    url("../fonts/open-sans-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  background-color: #fff;
  color: #333333;
  font-family: "open-sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  overflow-anchor: none;
}

.input {
  padding: 0;
}

.input:focus,
.btn:focus  {
  outline: none;
}

.btn,
.input {
  font: inherit;
  border: none;
}

.btn {
  font-size: 18px;
  font-weight: bold;
  background: transparent;
  color: #fff;
}

.img {
  max-width: 100%;
  height: auto;
}

.h1,
.h2,
.h3,
.h4,
.p,
.ul {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

.h2 {
  font-size: 48px;
}

.h3 {
  font-size: 24px;
  font-weight: 600;
}

.h4 {
  font-size: 16px;
}

.p {
  line-height: 32px;
}

.a {
  color: inherit;
  text-decoration: none;
}

.ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  list-style-type: none;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 50px;
}
